<div class="figure">
    <div class="instagramm">
    <div class="container">

        <div class="title_shots">
            <p class="latest_shots_title">- Latest Instagram Shots</p>
            <p class="instagram_page_title"><a href="#instagram">go to our instagram page -</a></p>
        </div>
    <div class="instagram_page__photoes">
        <img class="instagram__photo first_photo" src="@img/inst1.svg" alt="instagramm post one">
        <img class="instagram__photo hide" src="@img/inst2.svg" alt="instagramm post two">
        <img class="instagram__photo hide" src="@img/inst3.svg" alt="instagramm post three">
        <img class="instagram__photo last_photo" src="@img/inst4.svg" alt="instagramm post four">

    </div>
    </div>
    </div>
</div>