<div class="footer">
    <div class="container">
        <div class="about_us">
            <div class="title_about_us">
                <p>- get in touch with us -</p>
            </div>
            <div class="info_about_us">
                <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.<span class="hide_text"> Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
            </div>
            <div class="icon">
                <div class="wi-fi">
                <i class="fa-solid fa-rss fa-2xs"></i>
                </div>
                <div class="facebook">
                    <i class="fa-brands fa-facebook-f fa-2xs"></i>
                </div>
                <div class="twitter">
                    <i class="fa-brands fa-twitter fa-2xs"></i>
                </div>
                <div class="dribble">
                    <i class="fa-brands fa-dribbble fa-2xs"></i>
                </div>
                <div class="pinterest">
                    <i class="fa-brands fa-pinterest-p fa-2xs"></i>
                </div>
            </div>
            <adress>
                <div class="home__adress">
                    <p> Moonshine St. 14-05 Light City  &nbsp /  </p>
                    <p> &nbsp T.<a href="tel:+00 (123) 456 78 90">+00 (123) 456 78 90 </a>   &nbsp /</p>
                    <p><a href="mailto:first.last@email.com">  &nbsp first.last@email.com</a> </p>
                </div>
            </adress>
        </div>
    </div>
</div>