<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"/>
  <link rel="stylesheet" href="./css/reset.min.css" />
  <link rel="stylesheet" href="./css/style.min.css" />
  <link rel="shortcut icon" href="@img/icons8.png?v=2" type="image/png">
  <script data-search-pseudo-elements src="https://kit.fontawesome.com/f737751420.js" crossorigin="anonymous"></script>
  <title>HomeWork2</title>

</head>