<header class="header">
    <div class="container">
        <div class="header-menu">
        <div class="navbar">
            <ul class="navbar-items">
                <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">About Us</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Our Journal</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Projects</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">News</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Features</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Contact</a></li>
            </ul>
            <div class="burger">
            <div class="burger-menu" id="burger" >
                <i class="fa-sharp fa-solid fa-bars"></i>
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </div>
            </div>
            <div class="burger-nav">
            <nav class="burger-menu_nav" id="nav_burger">
                <a href="#section-1" class="burger-menu_link">Home</a>
                <a href="#section-2" class="burger-menu_link">About us</a>
                <a href="#section-3" class="burger-menu_link">Our journal</a>
                <a href="#section-4" class="burger-menu_link">Projects</a>
                <a href="#section-5" class="burger-menu_link">News</a>
                <a href="#section-1" class="burger-menu_link">Features</a>
                <a href="#section-1" class="burger-menu_link">Contact</a>

            </nav>
            </div>
            <div class="header__photo">
            <img class="photo_intro" src="@img/intro.png" alt="intro">
            </div>
        </div>
        </div>
    </div>
</header>