<div class="main">
    <div class="container">
        <p class="title_posts">- Our Recent posts</p>
        <div class="posts">
            <div class="post__item">
            <div class="image">
                <img src="@img/post1.svg" alt="post one">
            </div>
                <div class="description">
                    <p class="title__item">Aenean Adipiscing Etiam Vestibulum</p>
                    <p class="comments">Photography, Journal  &nbsp /  &nbsp  9 Comments</p>
                    <p class="text__item">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="post__item">
                <div class="image">
                    <img src="@img/post2.svg" alt="post two">
                </div>
                <div class="description">
                    <p class="title__item">Aenean Adipiscing Etiam Vestibulum</p>
                    <p class="comments">Photography, Journal  &nbsp /  &nbsp 9 Comments</p>
                    <p class="text__item">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="post__item">
                <div class="image">
                    <img src="@img/post3.svg" alt="post three">
                </div>
                <div class="description">
                    <p class="title__item">Aenean Adipiscing Etiam Vestibulum</p>
                    <p class="comments">Photography, Journal  &nbsp /  &nbsp  9 Comments</p>
                    <p class="text__item">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="post__item last_post">
                <div class="image">
                    <img src="@img/post4.svg" alt="post four">
                </div>
                <div class="description">
                    <p class="title__item">Aenean Adipiscing Etiam Vestibulum</p>
                    <p class="comments">Photography, Journal  &nbsp /  &nbsp  9 Comments</p>
                    <p class="text__item">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
