@import "../variables/variables";

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-decor{
  font-family: $font_family;
  color: $color__navbar;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
@mixin img-size{
  width: 250px;
  height: 250px;
}