//@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import 'templates/header';
@import 'templates/main';
@import "templates/figure";
@import "templates/footer";



@import "variables/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .container{
    min-width: 320px;
    max-width: 480px;
  }

}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .container{
    min-width: 481px;
    max-width: 992px;
  }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    min-width: 993px;
    max-width: 1200px;
  }

}
