@import "../variables/variables";
@import "../mixin/mixins";

.figure{
  width: 100%;
  padding: 36px 0;

}
.latest_shots_title{
  @include text-decor;
  line-height: 22px;
  color:$color__navbar;
  text-transform: uppercase;
  padding-bottom: 16px;

}
.instagram_page_title{
  @include text-decor;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 16px;
  display: none;

}
.title_shots{
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  width: 98%;
  padding-left: 10px;
}
.instagram_page__photoes{
  display: flex;
  flex-direction: row;
  padding-bottom: 42px;
  justify-content: center;
}
.hide{
  display: none;
}
.last_photo{
  display: none;
}
.instagram__photo{
  width: 301px;
  }




@media screen and (min-width: 481px) and (max-width: 992px){
.instagram__photo{
  padding-right: 10px;
  width: 33%;
}
  .hide,  .first_photo{
    display: block;
  }
.instagram_page__photoes{
  padding-bottom: 50px;
  display: flex;
  justify-content: center;


}
  .instagramm{
    background: rgba(0, 0, 0, 0.03);
    mix-blend-mode: normal;
    width: 100%;
  }
  .instagram_page_title{
    display: inline-block;
  }
}

@media screen and (min-width: 993px) {

  .instagram__photo{
    padding: 0 10px;
    width: 25%;
  }
  .hide, .first_photo, .last_photo{

    display: block;
  }
  .instagram_page__photoes{
    padding-bottom: 50px;
    width: 99%;

  }
  .instagramm{
    background: rgba(0, 0, 0, 0.03);
    mix-blend-mode: normal;
    width: 100%;
  }
  .instagram_page_title{
    display: inline-block;
  }
}
