@import "../variables/variables";
@import "../mixin/mixins";

.footer{
  background: rgb(0,0,0);
  mix-blend-mode: normal;
  min-width: 320px;

}

.about_us{
  @include flex-center;
  flex-direction: column;
  padding-top: 66px;
}
.title_about_us{
  @include text-decor;
  color:$color__footer;
  text-transform: uppercase;
  line-height: 22px;
}
.hide_text{
  display: none;
}
.info_about_us{
  @include text-decor;
  color:$color__info;
  font-weight: 400;
  //line-height: 28px;
  //width: 684px;
  width: 303px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding-top: 22px;
}
.icon{
  display: flex;
  justify-content: space-around;
  width: 192px;
  padding-top: 37px;
}
.wi-fi{
  @include flex-center;
  width: 34px;
  height: 34px;
  color: #F8902E;
  border: 2px solid #F8902E;
  border-radius: 30px;
}
.facebook{
  @include flex-center;
  @extend .wi-fi;
  color: #39599F;
  border: 2px solid #39599F;
}
.twitter{
  @include flex-center;
  @extend .wi-fi;
  color: #45B0E3;
  border: 2px solid #45B0E3;
}
.dribble{
  @include flex-center;
  @extend .wi-fi;
  color: #D97AB0;
  border: 2px solid #D97AB0;
}
.pinterest{
  @include flex-center;
  @extend .wi-fi;
  color: #CC212C;
  border: 2px solid #CC212C;
}
adress{
  padding-top: 34px;

}
.home__adress{
  text-align: center;
  font-family: $font_family;
  font-style: normal;
  font-weight: 400;
  //font-size: 16px;
  //line-height: 26px;
  font-size: 14px;
  line-height: 24px;
  color: $color__info;
  padding-bottom: 47px;
  & a{
    color: $color__info;
  }
}
@media screen and (min-width: 768px){
  .hide_text{
    display: inline-block;
  }
  .info_about_us{
    font-size: 16px;
    line-height: 28px;
    width: 684px;
  }
  .home__adress{
    font-size: 16px;
    line-height: 26px;
    display: flex;
    padding-bottom: 56px;

  }
}