@import "../variables/variables";
@import "../mixin/mixins";

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-items{

  padding-bottom: 51px;
  width: 100%;
  display: none;
}
.header-menu{
  padding-top: 45px;
}
a{
  text-decoration: none;
  color: $color__navbar;

  &:active{
    color:#57A4A4;
  }
}

.navbar__item{
  font-family: $font_family;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.1px;


}
.burger-menu{
  @include flex-center;
  height: 37px;
  width: 44px;
  background: black;
  color: white;

}

.burger {
  position: relative;
  display: flex;
  height: 37px;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}
.fa-xmark {
  display: none;
}
.burger-menu {

  &.active {
    position: absolute;
    .fa-bars {
      display: none;
    }

    .fa-xmark {
      display: block;
    }
  }
}
.burger-nav{
  display: flex;
  justify-content: flex-end;
}
.burger-nav{
  height: 23px;
  width: 100%;
}

.burger-menu_nav{
  background: #F5F5F5;
  transition: 0.8s;
  display: none;
  width: 182px;
  height: 208px;
  &.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    justify-content: space-around;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .burger-menu, .burger, .burger-nav {
    display: none;
  }
  .navbar__item {
    padding-left: 21px;

  }
  .navbar-items {
    display: flex;
    justify-content: center;
  }
}



@media screen and (min-width: 993px) {
  .burger-menu, .burger, .burger-nav{
    display: none;
  }
  .navbar__item{
    padding-left: 68px;
  }
  .navbar-items{
    display: flex;
    justify-content: center;
  }
}



.burger-menu_link{
  @extend .navbar__item;
  line-height: 22px;
  padding: 3px 13px;
  &:hover {
    background: #e5e5e5;
    height: 30px;
  }
}
.header__photo{
  width: 100%;
  object-fit: cover ;
}
.photo_intro{
    width: 100%;
    object-fit: cover ;
}