@import "../variables/variables";
@import "../mixin/mixins";


.title_posts{
  @include text-decor;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 24px;
}
.post__item{
  display: flex;
  justify-content: flex-start;
  width: 585px;
  padding-bottom: 32px;
  flex-direction: column;
}
.posts{
  display: flex;
  flex-wrap: wrap;

}
.description{
  padding-top: 11px;
}

.title__item{
@include text-decor;

}
.comments{
  font-family: $font_family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $color__comments;
}

.text__item{
  @extend .comments;
  font-size: 14px;
  line-height: 26px;
  color: $color__text;
  padding-top: 13px;
  display: none;
}
.last_post{
  display: none;
}
@media screen and (min-width: 481px) and (max-width: 992px){
  .posts{
    display: flex;
    flex-direction: column;

  }
  .last_post{
    display: flex;
    justify-content: flex-start;
  }
  .text__item{
    display: inline-block;
  }
  .post__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 80%;
  }
  .description{
    padding-top: 0;
    padding-left: 11px;
  }
}
@media screen and (min-width: 993px){
  .title__item{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
  .posts{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .post__item{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 48%;
    padding-bottom: 32px;

  }
  .description{
    padding-top: 0;
    padding-left: 11px;
  }

  .last_post{
    display: flex;
    justify-content: flex-start;
  }
  .text__item{
    display: inline-block;
  }
}
